/* src/App.css */
.app-container {
  display: flex;
  background: url('C:\Users\Lenovo\Pictures\Screenshots\gym3.jpg')bottom/cover fixed no-repeat ;
}

.left-container {
  width: 60%;
  padding: 20px;
}

.right-container {
  position: relative;
  width: 40%;
  padding: 20px;
  background: url('C:\Users\Lenovo\Documents\1st page\gym-view\src\rec.jpg');
}

.image-overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.overlay-text {
  color:white;
  font-size: 20px;
  margin: 60px;
  margin-top:  150px;;
  /* Add additional styling as needed */
}


button {
  padding: 30px;
  margin: 50px;
  margin-top: 100px;
  width: 500px;
  background-color: skyblue;
  color:black;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow:2px 2px 10px #888888;
  justify-content:right;
  
}

button:hover {
  background-color: green;
}



button1 { 
  background: rgba(68, 199, 243, 0.7);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #888888  ; 
  margin:80px;
}

/* Add responsive styles as needed */
