header{
    margin:0;
    padding: 0;
}
.details-main{
    margin:0;
    padding: 0;
    min-height: 95vh;
    font-family: Monsterrat;
    background: url('../public/backgroundv5.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

/* #bg2{
    margin-top: 0;
    margin-left: ;
}

#bg1{
    margin-left: 0;
    margin-top: 1vh;
} */



.details-header{
    margin-left: 27.5vw;
    margin-top: 5vh;
    width: max(44.93vw,300px);
    height: 15.37vh;
    border-radius: 1.38vw;
    text-align: center;
    line-height: 15.37vh;
    font-size: 2.5rem;
    font-weight: 500;
    box-shadow: 0px 14px 29px 0px #00000040;
    color: #464646;
    background-color: rgb(255,255,255,0.6);
    backdrop-filter: blur(3px);

}

.details-form{
    margin-left:27.569vw;
    margin-top: 6.01vh;
    width: max(44.93vw,300px);
    height: 57.31vh;
    text-align: center;
    border-radius: 1.38vw;
    box-shadow: 0px 14px 29px 0px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.roll-no{
    margin-left: 3.611vw;
    padding: 1vh 1vw;
    padding-left: 2vw;
    width: 34.70vw;
    height:08.09vh;
    border-radius: 1.38vw;
    box-shadow: 0px 14px 29px 0px #00000040;
    background-color: #AFF1FF;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    align-items: center;
    
}
.name{
    margin-top: 6.01vh;
    margin-left: 3.611vw;
    padding: 1vh 1vw;
    padding-left: 2vw;
    width: 34.70vw;
    height:08.09vh;
    border-radius: 1.38vw;
    box-shadow: 0px 14px 29px 0px #00000040;
    background-color: #AFF1FF;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    align-items: center;
}

#submit-button{
    margin-top: 6.01vh;
    margin-left: 3.611vw;
    padding: 1vh 1vw;
    padding-left: 2vw;
    width: 37.70vw;
    height:10.64vh;
    border-radius: 1.38vw;
    box-shadow: 0px 14px 29px 0px #00000040;
    border:none;
    background-color: #58E1FF;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;

    /* width:29.30vw;
    height: 5.37vh;
    margin-left: 7.77vw;
    margin-top: 10.7vh;
    border-radius:2.8vw ;
    border: none;
    background: #58E1FF;
    box-shadow: 0px 14px 29px 0px #00000040;
    font-size: 1.5rem; */
}

.roll-no input, .name input{
    border: none;
    width: min(150px,70%);
    color:#6B6B6B;
    background-color: #AFF1FF;
    margin-left:10px;
    font-size: 18px;
    flex: 1 1 auto;
}

.user{
    width:fit-content;
    flex: 0 0 auto;
}

