@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

#root {
    font-family: Montserrat,sans-serif;
  }
  body {
    font-family: Montserrat,sans-serif;
    margin: 0;
    background-image: url('../public/backgroundv2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
  }
  
  .container {
    display: flex;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
  }
  .main-content {
    background-color: transparent;
    width: 60.903vw;
  }
  .header {
    background-color: #aff1ff;
    width: 49.3vw;
    margin: 0 5.69vw;
    height: 5.91vh;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 3vh 0;
    font-size: 2rem;
  }
  .list {
    margin: 0 5.69vw;
    margin-top: 8.984vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .feedback {
    background-color: #aff1ff;
    width: 39.097%;
    height: 80vh;
    position:fixed;
    right:0;
    background: linear-gradient(110.15deg, #AFF1FF 0.08%, rgba(175, 241, 255, 0.51) 0.08%, rgba(175, 241, 255, 0.5) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(109.8deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 20px 40px 0px #0000001A;
    backdrop-filter: blur(4px);
  }
  #removeButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    border: none;
    color: #ff0000;
    font-weight: 900;
    font-size: 32px;
  }
  
  #item {
    display: flex;
    align-items: center;
    height: 7vh;
    margin-bottom: 2vw;
    
    
  }
  #name {
    margin-left: 5vw;
    background: #58e1ff;
    width: 41vw;
    height: 7.3vh;
    border-radius: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 14px 29px 0px #00000040;

  }
  
  .text {
    margin-left: 6vw;
  }
  
  #addButton {
    font-family: Montserrat,sans-serif;
    margin-top: 2vh;
    background: #45FFBC;
    width: 19.8vw;
    height: 7.3vh;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    align-self: flex-end;
  }
  
  /* -----------css for form-------------- */
  
  .form {
    width: 100%;
    margin:6vh 3.6vw ;
    padding: 20px;
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }
  
  .form h2 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align:center;
    flex: 0 0 auto;
    margin-right: 10vw;
    align-self:stretch;


  }
  
  .form-group {
    margin-bottom: 20px;
    width: 31vw;
    height: min(8vh,60px);
    border-radius: 15px;
    background: #AFF1FF;

  }
  
  
  .form input,
  .form select,
  .form textarea {
    width:27vw;
    padding: min(2vh,15px) 2vw;
    color: #6B6B6B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    height: 4vh;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: transparent;

  }

  .form select{
    height: 7vh;
    width: 29vw;
    padding: 0 2vw;
    color: #6B6B6B;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-image: url('../public/Vector\ \(2\).svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px;
  }

  .form textarea{
    height: 18vh;
    outline: none;
    border: none;
    resize: none;
  }

  .form-group-message{
    height: 18vh;
    margin-bottom: 20px;
    width: 31vw;
    border-radius: 15px;
    background: #AFF1FF;
  }
  
  
  .form button {
    background: #45FFBC;
    height: 4.7vh;
    width: 11.8vw;
    padding: 10px 20px;
    margin-left: 20%;
    margin-top: 4.7vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;

  }
   

/* CSS for mobile devices */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
   background: white;
    /* justify-content: center; */
  }

  .main-content,
  .feedback {
    width: 95%;
    /* border-radius: 40px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }

  .header {
    width: 90%;
    border-radius: 0 0 20px 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  /* .list {
    margin: 0;
    margin-top: 2vh;
  } */

  #item {
    margin-bottom: 1vw;
  }

  #name {
    /* margin-left: 5vw; */
    background: #58e1ff;
    height: 7vh;
    width: 90%;
    border-radius: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    margin-left: 2vw;
    font-size: 1.25rem;
    font-weight: 400;
  }

  #addButton {
    margin-top: 2vh;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;

  }

  #removeButton{
    width: 7vw;
    height: 7vw;
  }

  .feedback {
    width: 90%;
    border-radius: 40px;
    height: auto;
    position: static;
    margin-top: 5vh;
  }

  .form{
    border-radius: 30px;
    padding: 15vw;
  }

  .footer{
    display: flex;
    margin-top:3vh;
    background-color: rgb(79, 55, 55);
    width: 100%;
    justify-content: center;
  }

  
  
}

/* New Additions */
/* Arrows */

.left-arrow,.right-arrow{
  border: none;
  background-color: transparent;
  margin: top 8vh;
}
.left-arrow:hover,.right-arrow:hover{
  background-color: transparent;
}
.left-arrow{
  margin-left:12.5vw;
}
.right-arrow{
  margin-left: 32.2vw;
}

#exitButton{
  background: none;
  border: none;
  border-radius: 20px;
  background: #FFDE9D;
  font-family: Montserrat,sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  width: 19.8vw;
  height: 7.3vh;
  margin-left:9.16vw;
}
#addButton{
  margin-left:2.78vw;
}

#inexit-remove-button{
  display:none;
}
#inexit-name{
  width:42.36vw;
  margin-left: 5vw;
  background: #58e1ff;
  height: 7.3vh;
  border-radius: 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 14px 29px 0px #00000040;
}

#inexit-exit-button{
  background: none;
  border: none;
  border-radius: 20px;
  background: #45FFBC;
  font-family: Montserrat,sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  width: 19.8vw;
  height: 7.3vh;
  margin-left:21.3vw;
}

#inexit-enter-button{
  display: none;
}

